<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/css/home2.css" type="text/css">
</head>

<body>
    <div class="foot" style="background-color: #253333;">
        <div class="cat">
            <h3>Categories</h3>
            <ul>
                <li><a href="/domain">Graphics & Design</a></li>
                <li><a href="/domain">Digital Marketing</a></li>
                <li><a href="/domain">Writing & Translation</a></li>
                <li><a href="/domain">Video & Animation</a></li>
                <li><a href="/domain">Programming and Tech</a></li>
            </ul>
        </div>
        <div class="about">
            <h3>About</h3>
            <ul>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/terms-of-service">Terms of Service</a></li>
            </ul>
        </div>
        <div class="sup">
            <h3>Support</h3>
            <ul>
                <li><a href="/help-support">Help & Support</a></li>
                <li><a href="/kuch-bhi">Trust & Safety</a></li>
            </ul>
        </div>
        <div class="com">
            <h3>Community</h3>
            <ul>
                <li><a href="/community-hub">Forum</a></li>
                <li><a href="/blogs">Blogs</a></li>
            </ul>
        </div>
    </div>
</body>

</html>