<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Create Gig</title>
     <link rel="stylesheet" href="/css/createGig.css">
</head>

<body>


     <div class="gig--card">
          <form action="/createGig" method="post" autocomplete="off">
               <div class="input-wrapper">
                    <label for="gig--name" class="gig--detail--label">Name of the gig</label>
                    <input type="text" name="gig--name" id="gig--name" class="gig--detail" required>
               </div>
               <div class="main--flex--col highlight--wrapper">
                    <div class="input-wrapper">
                         <label for="price--easy" class="gig--detail--label">Tier 1 Price</label>
                         <input type="text" name="" id="price--easy" class="gig--price--easy" required>
                    </div>

                    <div class="input-wrapper">
                         <label for="detail--easy" class="gig--detail--label">Tier 1 services</label>

                         <textarea name="detail--easy--tier" id="detail--easy" cols="26" rows="3"></textarea>
                    </div>

                    <div class="input-wrapper">
                         <label for="price--medium" class="gig--detail--label">Tier 2 Price</label>
                         <input type="text" name="" id="price--medium" class="gig--price--medium" required>
                    </div>

                    <div class="input-wrapper">
                         <label for="detail--medium" class="gig--detail--label">Tier 2 services</label>

                         <textarea name="detail--medium--tier" id="detail--medium" cols="26" rows="3"></textarea>
                    </div>


                    <div class="input-wrapper">
                         <label for="price--hard" class="gig--detail--label">Tier 3 Price</label>
                         <input type="text" name="" id="price--hard" class="gig--price--hard" required>
                    </div>

                    <div class="input-wrapper">
                         <label for="detail--hard" class="gig--detail--label">Tier 3 services</label>

                         <textarea name="detail--hard--tier" id="detail--hard" cols="26" rows="3"></textarea>
                    </div>

               </div>
               <div class="input-wrapper highlight--wrapper">
                    <label for="duration" class="duration">Max-Duration (hours)</label>
                    <input type="text" name="duration" id="duration" required>
               </div>
               <div class="input-wrapper highlight--wrapper">
                    <button type="submit" class="form--submit--button">Create Gig</button>
               </div>
          </form>
     </div>

</body>

</html>