<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Domain</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/domains.css" />
  </head>

  <body>
    <%- include('partials/navbar.ejs',{isLoggedIn:login}) %>
    <div class="boxes">
      <div class="box1">
        <div class="image">
          <img src="/images/developer.png" alt="" />
        </div>
        <div class="content">
          <h3>
            Programming and Tech
          </h3>
          <p>
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
          </p>
          <br>
          <p class="dark">Know more about</p>
            
            <ul class="indentation">
                <li><a href="http://localhost:5500/domains/pt-web_dev">Web development</a></li>
                <li><a href="http://localhost:5500/domains/pt-app_dev">App development</a></li>
            </ul>
         

        </div>
      </div>
      <div class="box2">
        <div class="image">
          <img src="/images/developer.png" alt="" />
        </div>
        <div class="content">
          <h3>
            Graphics and Design
          </h3>
          <p>
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
          </p>
          <br>
          <p class="dark">Know more about</p>
           
            <ul class="indentation">
                <li><a href="http://localhost:5500/domains/gd-logo_design">Logo design</a></li>
                <li><a href="http://localhost:5500/domains/gd-web_design">Web design</a></li>
                <li><a href="http://localhost:5500/domains/gd-print">Poster/Flyer prints</a></li>
            </ul>
        </div>
      </div>
      <div class="box3">
        <div class="image">
          <img src="/images/developer.png" alt="" />
        </div>
        <div class="content">
          <h3>
           Content and Digital writing
          </h3>
          <p>
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
          </p>
          <br>
          <p class="dark">Know more about</p>
           
            <ul class="indentation">
                <li><a href="http://localhost:5500/domains/cdw-blogs_articles">Blogs and articles</a></li>
                <li><a href="http://localhost:5500/domains/cdw-resume_cover">Resume and cover letters</a></li>
            </ul>
        </div>
      </div>
      <div class="box4">
        <div class="image">
          <img src="/images/developer.png" alt="" />
        </div>
        <div class="content">
          <h3>
            Digital Marketing
          </h3>
          <p>
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
          </p>
          <br>
          <p class="dark">Know more about</p>

            <ul class="indentation">
                <li><a href="http://localhost:5500/domains/dm-seo">SEO</a></li>
                <li><a href="http://localhost:5500/domains/dm-social_marketing">Social media marketing</a></li>
            </ul>
        </div>
      </div>
      <div class="box5">
        <div class="image">
          <img src="/images/developer.png" alt="" />
        </div>
        <div class="content">
          <h3>
            Video and Animation
          </h3>
          <p>
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
          </p>
          <br>
          <p class="dark">Know more about</p>
          
            <ul class="indentation">
                <li><a href="http://localhost:5500/domains/va-video_editing">Video editing</a></li>
                <li><a href="http://localhost:5500/domains/va-animation">Animation</a></li>
            </ul>
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
