<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/home2.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/3606b3275f.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <label class="lancify">Lancify</label>
    <ul>
      <li>
        <input class="input" type="text" placeholder="Search here" />
        <button type="submit" class="btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </li>
      <li>
        <div class="tooltip">
          <i class="fa-regular fa-bell"></i>
          <!-- <span class="tooltiptext">Notifications</span> -->
        </div>
      </li>
      <li class="orders">Orders</li>
    </ul>
  </nav>
  <header>
    <ul class="navbar">
      <li>
        <a href="#">Graphics & Design</a>
        <div class="sub_menu1">
          <ul>
            <li><a href="#">content1 </a></li>
            <li><a href="#">content2 </a></li>
            <li><a href="#">content3 </a></li>
            <li><a href="#">content4 </a></li>
          </ul>
          <ul>
            <li><a href="#">info1</a></li>
            <li><a href="#">info2</a></li>
            <li><a href="#">info3</a></li>
            <li><a href="#">info4</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Digital marketing</a>
        <div class="sub_menu2">
          <ul>
            <li><a href="#">content1 </a></li>
            <li><a href="#">content2 </a></li>
            <li><a href="#">content3 </a></li>
          </ul>
          <ul>
            <li><a href="#">info1</a></li>
            <li><a href="#">info2</a></li>
            <li><a href="#">info3</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#"> Video & Animation</a>
        <div class="sub_menu3">
          <ul>
            <li><a href="#">content1 </a></li>
            <li><a href="#">content2 </a></li>
          </ul>
          <ul>
            <li><a href="#">info1</a></li>
            <li><a href="#">info2</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Programming & Tech</a>
        <div class="sub_menu1">
          <ul>
            <li><a href="#">content1 </a></li>
            <li><a href="#">content2 </a></li>
            <li><a href="#">content3 </a></li>
            <li><a href="#">content4 </a></li>
            <li><a href="#">content5</a></li>
          </ul>
          <ul>
            <li><a href="#">info1</a></li>
            <li><a href="#">info2</a></li>
            <li><a href="#">info3</a></li>
            <li><a href="#">info4</a></li>
            <li><a href="#">info5</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#">Business</a></li>
      <li>
        <a href="#">AI services</a>
        <div class="sub_menu2">
          <ul>
            <li><a href="#">content1 </a></li>
            <li><a href="#">content2 </a></li>
          </ul>
          <ul>
            <li><a href="#">info1</a></li>
            <li><a href="#">info2</a></li>
            <li><a href="#">info3</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </header>
  <hr />

  <div class="main_services">
    <!-- color:background-color: #c9ffe5; -->
  </div>
  <div class="trend">
    <h1 class="pop">Popular services</h1>
  </div>
  <div class="boxes">
    <div class="box1">
      <div class="image">
        <img src="/images/appdev.jpg" alt="app development" />
      </div>
      <div class="content">
        <h3>APP Development</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea nihil
          deleniti qui accusamus esse corporis? Minus possimus culpa
          aspernatur rerum.
        </p>
      </div>
    </div>
    <div class="box2">
      <div class="image">
        <img src="/images/gamedev.png" alt="game development" />
      </div>
      <div class="content">
        <h3>GAME Development</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea nihil
          deleniti qui accusamus esse corporis? Minus possimus culpa
          aspernatur rerum.
        </p>
      </div>
    </div>
    <div class="box3">
      <div class="image">
        <img src="/images/webdev.jpg" alt="web development" />
      </div>
      <div class="content">
        <h3>WEB Development</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea nihil
          deleniti qui accusamus esse corporis? Minus possimus culpa
          aspernatur rerum.
        </p>
      </div>
    </div>
    <div class="box4">
      <div class="image">
        <img src="/images/cloud_computing.png" alt="cloud computing" />
      </div>
      <div class="content">
        <h3>CLOUD Computing</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea nihil
          deleniti qui accusamus esse corporis? Minus possimus culpa
          aspernatur rerum.
        </p>
      </div>
    </div>
    <div class="box5">
      <div class="image">
        <img src="/images/embedded_systems.jpeg" alt="Embedded systems" />
      </div>
      <div class="content">
        <h3>EMBEDDED Systems</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea nihil
          deleniti qui accusamus esse corporis? Minus possimus culpa
          aspernatur rerum.
        </p>
      </div>
    </div>
  </div>

  <div class="foot">
    <div class="cat">
      <h3>Categories</h3>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/swiper.css" />
    <link rel="stylesheet" href="/css/home2.css" />
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>




    <script
      src="https://kit.fontawesome.com/3606b3275f.js"
      crossorigin="anonymous"
    ></script>

    <style>
      .swiper {
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <nav>
      <label class="lancify">Lancify</label>
      <ul>
        <li><a href="#">Graphics & Design</a></li>
        <li><a href="#">Digital Marketing</a></li>
        <li><a href="#">Writing & Translation</a></li>
        <li><a href="#">Video & Animation</a></li>
        <li><a href="#">Music & Audio</a></li>
      </ul>
    </div>
    <div class="about">
      <h3>About</h3>
      <ul>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>
    <div class="sup">
      <h3>Support</h3>
      <ul>
        <li><a href="#">Help & Support</a></li>
        <li><a href="#">Trust & Safety</a></li>
      </ul>
    </div>
    <div class="com">
      <h3>Community</h3>
      <ul>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Events</a></li>
      </ul>
    </div>
  </div>
</body>

</html>
    <div class="main_services">
      <!-- color:background-color: #c9ffe5; -->
    </div>
    <div class="trend">
      <h1 class="pop">Popular services</h1>
    </div>
    <div class="boxes">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="box1">
              <div class="image">
                <img src="./images/appdev.jpg" alt="app development" />
              </div>
              <div class="content">
                <h3>APP Development</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea
                  nihil deleniti qui accusamus esse corporis? Minus possimus
                  culpa aspernatur rerum.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="box2">
              <div class="image">
                <img src="./images/gamedev.png" alt="game development" />
              </div>
              <div class="content">
                <h3>GAME Development</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea
                  nihil deleniti qui accusamus esse corporis? Minus possimus
                  culpa aspernatur rerum.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="box3">
              <div class="image">
                <img src="./images/webdev.jpg" alt="web development" />
              </div>
              <div class="content">
                <h3>WEB Development</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea
                  nihil deleniti qui accusamus esse corporis? Minus possimus
                  culpa aspernatur rerum.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="box4">
              <div class="image">
                <img src="./images/cloud_computing.png" alt="cloud computing" />
              </div>
              <div class="content">
                <h3>CLOUD Computing</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea
                  nihil deleniti qui accusamus esse corporis? Minus possimus
                  culpa aspernatur rerum.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="box5">
              <div class="image">
                <img
                  src="./images/embedded_systems.jpeg"
                  alt="Embedded systems"
                />
              </div>
              <div class="content">
                <h3>EMBEDDED Systems</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea
                  nihil deleniti qui accusamus esse corporis? Minus possimus
                  culpa aspernatur rerum.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="box6">
              <div class="image">
                <img src="./images/video_editing.jpg" alt="Video editing" />
              </div>
              <div class="content">
                <h3>VIDEO Editing</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea
                  nihil deleniti qui accusamus esse corporis? Minus possimus
                  culpa aspernatur rerum.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <!-- Swiper JS -->

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <div class="foot">
      <div class="cat">
        <h3>Categories</h3>
        <ul>
          <li><a href="#">Graphics & Design</a></li>
          <li><a href="#">Digital Marketing</a></li>
          <li><a href="#">Writing & Translation</a></li>
          <li><a href="#">Video & Animation</a></li>
          <li><a href="#">Music & Audio</a></li>
        </ul>
      </div>
      <div class="about">
        <h3>About</h3>
        <ul>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div class="sup">
        <h3>Support</h3>
        <ul>
          <li><a href="#">Help & Support</a></li>
          <li><a href="#">Trust & Safety</a></li>
        </ul>
      </div>
      <div class="com">
        <h3>Community</h3>
        <ul>
          <li><a href="#">Forum</a></li>
          <li><a href="#">Events</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
