input[type="text"] {
  border: none;
  border-bottom: 2px solid rgb(163 163 163);
}

input[type="number"] {
  border: none;
  border-bottom: 2px solid rgb(163 163 163);
}

.hide-the-group {
  display: none !important;
}

.show-the-group {
  display: block !important;
}

textarea {
  border-radius: 5px !important;
  border: 2px solid rgb(163 163 163);
}

.OOAAAC {
  display: block;
  margin: 0 auto;
}