<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>Profile</title>
   <link rel="stylesheet" href="/css/stylesheet.css">

   <!--box icons-->
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

   <!-- swiper-css -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>

<body>
   <%- include('../partials/navbar.ejs',{isLoggedIn:true}) %>

   <section class="home" id="home">
      <div class="home-content">
         <h3>Hello,I am </h3>
         <h1>Amritansh Shukla</h1>
         <h2>Rating 8.6</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta blanditiis sffffsgrgg i know everything </p>
         <div class="social-media">
            <a href="#"><i class='bx bxl-facebook-square'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin-square'></i></a>

         </div>

         <a href="#" class="btn">Download CV</a>
      </div>

      <div class="Profession-container">
         <div class="profession-box">
            <div class="profession" style="--i:0;">
               <i class='bx bx-code-alt'></i>
               <h3>Web Developer</h3>
            </div>

            <div class="profession" style="--i:1;">
               <i class='bx bx-palette'></i>
               <h3>Web Designer</h3>
            </div>

            <div class="profession" style="--i:2;">
               <i class='bx bxs-camera'></i>
               <h3>Photogrpaher</h3>
            </div>

            <div class="profession" style="--i:3;">
               <i class='bx bxs-video'></i>
               <h3>Videographer</h3>
            </div>

            <div class="circle"></div>
         </div>

         <div class="overlay"></div>
      </div>
   </section>

   <!-- about section design -->
   <section class="about" id="about">
      <div class="about-img">
         <img src="/images/imageman.jpg" alt="">
      </div>

      <div class="about-content">
         <h2 class="heading">About <span>Me</span></h2>
         <h3> Hi, I'm Here to help Your Next Project !
         </h3>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit o
            mnis ad voluptate et labore reprehenderit nulla eveniet veniam, des
            erunt ipsam eos exercitationem earum! Ab, officia? Tempora unde eos ma
            gni dolores, reprehenderit atque eius temporibus nulla illo vel dolorum
            expedita inventore.
         </p>
         <a href="#" class="btn">Read More</a>
      </div>
   </section>

   <!-- service section design    -->
   <section class="services" id="services">
      <h2 class="heading">My <span>Services</span></h2>

      <div class="services-container">
         <div class="services-box">
            <i class='bx bx-code-alt'></i>
            <h3>programming and tech </h3>
            <p>Lorem ipsum dolor sit amet consectetu
               r adipisicing elit. Hic dolorem rerum, officiis,
               ipsum ipsa esse iusto doloremque blanditiis dist
               inctio unde at. Aliquam praesentium corporis, dol
               ores quo animi sed unde assumenda!</p>
            <a href="#" class="btn">Read More</a>
         </div>
         <div class="services-box">
            <i class='bx bxs-paint'></i>
            <h3>graphics and design</h3>
            <p>Lorem ipsum dolor sit amet consectetu
               r adipisicing elit. Hic dolorem rerum, officiis,
               ipsum ipsa esse iusto doloremque blanditiis dist
               inctio unde at. Aliquam praesentium corporis, dol
               ores quo animi sed unde assumenda!</p>
            <a href="#" class="btn">Read More</a>
         </div>
         <div class="services-box">
            <i class='bx bx-bar-chart-alt'></i>
            <h3>Content & digital writing</h3>
            <p>Lorem ipsum dolor sit amet consectetu
               r adipisicing elit. Hic dolorem rerum, officiis,
               ipsum ipsa esse iusto doloremque blanditiis dist
               inctio unde at. Aliquam praesentium corporis, dol
               ores quo animi sed unde assumenda!</p>
            <a href="#" class="btn">Read More</a>
         </div>
         <div class="services-box">
            <i class='bx bx-code-alt'></i>
            <h3>video and animation</h3>
            <p>Lorem ipsum dolor sit amet consectetu
               r adipisicing elit. Hic dolorem rerum, officiis,
               ipsum ipsa esse iusto doloremque blanditiis dist
               inctio unde at. Aliquam praesentium corporis, dol
               ores quo animi sed unde assumenda!</p>
            <a href="#" class="btn">Read More</a>
         </div>
         <div class="services-box">
            <i class='bx bx-code-alt'></i>
            <h3>digital marketing </h3>
            <p>Lorem ipsum dolor sit amet consectetu
               r adipisicing elit. Hic dolorem rerum, officiis,
               ipsum ipsa esse iusto doloremque blanditiis dist
               inctio unde at. Aliquam praesentium corporis, dol
               ores quo animi sed unde assumenda!</p>
            <a href="#" class="btn">Read More</a>
         </div>
      </div>
   </section>

   <!-- Portfolio section design -->
   <section class="portfolio" id="portfolio">
      <h2 class="heading">Latest <span>Project</span></h2>

      <div class="portfolio-container">
         <div class="portfolio-box">
            <img src="/images/Projecctttt.jpeg" alt="">
            <div class="portfolio-layer">
               <h4>Web Design</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae sit atque quam illo tempora id,
                  consequuntur est quae.
               </p>
               <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
         </div>
         <div class="portfolio-box">
            <img src="/images/Projecctttt.jpeg" alt="">
            <div class="portfolio-layer">
               <h4>Web Design</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae sit atque quam illo tempora id,
                  consequuntur est quae.
               </p>
               <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
         </div>
         <div class="portfolio-box">
            <img src="/images/Projecctttt.jpeg" alt="">
            <div class="portfolio-layer">
               <h4>Web Design</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae sit atque quam illo tempora id,
                  consequuntur est quae.
               </p>
               <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
         </div>
         <div class="portfolio-box">
            <img src="/images/Projecctttt.jpeg" alt="">

            <div class="portfolio-layer">
               <h4>Web Design</h4>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae sit atque quam illo tempora id,
                  consequuntur est quae.
               </p>
               <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
         </div>
      </div>
   </section>

   <!-- testimonial design -->
   <div class="testimonial-container">
      <div class="heading">Valuable <span>Testimonial</span></div>

      <div class="testimonial-wrapper">
         <div class="testimonial-box mySwiper">
            <div class="testimonial-content  swiper-wrapper">
               <div class="testimonial-slide swiper-slide">
                  <img id="newphoto" src="/images/neeeeeeeee.jpg" alt="">
                  <h3>Seena James</h3>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur temporibus, quae harum sunt
                     hic nesciunt alias ex voluptates est. Placeat, sequi aperiam! Facere, ipsa! Modi vero, blanditiis
                     illo iusto laborum similique quo, pariatur voluptate nisi sunt quaerat atque harum quibusdam
                     dolorem. Voluptate, quod beatae earum voluptatum magni maiores libero vitae nemo ratione cupiditate
                     iure a exercitationem, optio error unde accusamus.

                  </p>
               </div>
               <div class="testimonial-slide swiper-slide">
                  <img id="newphoto" src="/images/neeeeeeeee.jpg" alt="">
                  <h3>Seena James</h3>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur temporibus, quae harum sunt
                     hic nesciunt alias ex voluptates est. Placeat, sequi aperiam! Facere, ipsa! Modi vero, blanditiis
                     illo iusto laborum similique quo, pariatur voluptate nisi sunt quaerat atque harum quibusdam
                     dolorem. Voluptate, quod beatae earum voluptatum magni maiores libero vitae nemo ratione cupiditate
                     iure a exercitationem, optio error unde accusamus.

                  </p>
               </div>
               <div class="testimonial-slide swiper-slide">
                  <img id="newphoto" src="/images/neeeeeeeee.jpg" alt="">
                  <h3>Seena James</h3>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur temporibus, quae harum sunt
                     hic nesciunt alias ex voluptates est. Placeat, sequi aperiam! Facere, ipsa! Modi vero, blanditiis
                     illo iusto laborum similique quo, pariatur voluptate nisi sunt quaerat atque harum quibusdam
                     dolorem. Voluptate, quod beatae earum voluptatum magni maiores libero vitae nemo ratione cupiditate
                     iure a exercitationem, optio error unde accusamus.

                  </p>
               </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
         </div>
      </div>
   </div>

   <!-- contact section design -->
   <div class="contact" id="contact">
      <h2 class="heading">Contact <span>Me !</span></h2>
      <form action="#">
         <div class="input-box">
            <input type="text" placeholder="Full Name">
            <input type="email" placeholder="Email Address">
         </div>
         <div class="input-box">
            <input type="number" placeholder="Mobile Number">
            <input type="text" placeholder="Email Subject">
         </div>
         <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
         <input type="Submit" value="Send Message" class="btn">
      </form>
   </div>

   <!-- footer design -->
   <%- include('../partials/footer.ejs') %>

   <!-- swiper-css -->

   <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
   <script src="/js/script.js"></script>
</body>

</html>